<h1><%= page.title %></h1>

<%- page.content %>

<div class="attribution">
  This article is generated from the <a href="<%= page.url %>" target="_blank" rel="noopener noreferrer">"<%= page.title %>"</a> article on the <a href="https://minecraft.fandom.com" target="_blank" rel="noopener noreferrer">Minecraft wiki</a> at <a href="https://www.fandom.com" target="_blank" rel="noopener noreferrer">Fandom</a> and is licensed under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution-Share Alike License</a>.
</div>
